<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>unique_id</key>
			<string>S1-0</string>
			<key>image_name</key>
			<string>image-a.png</string>
			<key>points</key>
			<string>{16-20}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S1-1</string>
			<key>image_name</key>
			<string>image-b.png</string>
			<key>points</key>
			<string>{16-20}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S1-2</string>
			<key>image_name</key>
			<string>image-c.png</string>
			<key>points</key>
			<string>{16-20}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S1-3</string>
			<key>image_name</key>
			<string>image-d.png</string>
			<key>points</key>
			<string>{16-20}</string>
		</dict>
		<dict>
			<key>set_id</key>
			<string>1</string>
			<key>unique_id</key>
			<string>S1-4</string>
			<key>image_name</key>
			<string>image-e.png</string>
			<key>points</key>
			<string>{16-20}</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>unique_id</key>
			<string>S2-0</string>
			<key>image_name</key>
			<string>meme0.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-1</string>
			<key>image_name</key>
			<string>meme1.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-2</string>
			<key>image_name</key>
			<string>meme2.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-3</string>
			<key>image_name</key>
			<string>meme3.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-4</string>
			<key>image_name</key>
			<string>meme4.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-5</string>
			<key>image_name</key>
			<string>meme5.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-6</string>
			<key>image_name</key>
			<string>meme6.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-7</string>
			<key>image_name</key>
			<string>meme7.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S2-8</string>
			<key>image_name</key>
			<string>meme8.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>unique_id</key>
			<string>S3-0</string>
			<key>image_name</key>
			<string>flag0.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-1</string>
			<key>image_name</key>
			<string>flag1.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-2</string>
			<key>image_name</key>
			<string>flag2.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-3</string>
			<key>image_name</key>
			<string>flag3.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-4</string>
			<key>image_name</key>
			<string>flag4.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-5</string>
			<key>image_name</key>
			<string>flag5.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-6</string>
			<key>image_name</key>
			<string>flag6.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-7</string>
			<key>image_name</key>
			<string>flag7.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S3-8</string>
			<key>image_name</key>
			<string>flag8.png</string>
			<key>points</key>
			<string>{11-15}</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>unique_id</key>
			<string>S4-0</string>
			<key>image_name</key>
			<string>ball0.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-1</string>
			<key>image_name</key>
			<string>ball1.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-2</string>
			<key>image_name</key>
			<string>ball2.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-3</string>
			<key>image_name</key>
			<string>ball3.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-4</string>
			<key>image_name</key>
			<string>ball4.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-5</string>
			<key>image_name</key>
			<string>ball5.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-6</string>
			<key>image_name</key>
			<string>ball6.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
		<dict>
			<key>unique_id</key>
			<string>S4-7</string>
			<key>image_name</key>
			<string>ball7.png</string>
			<key>points</key>
			<string>{21-25}</string>
		</dict>
	</array>
</array>
</plist>
